<form class="space-y-4" [formGroup]="form" (ngSubmit)="submit()">
  <div class="text-xl">Введите название файла</div>
  <div class="">
    <input
      class="bg-gray-200 rounded-md h-8 w-full px-2"
      type="text"
      placeholder="Введите название файла"
      formControlName="name"
    />
    <div
      class="text-red-600 font-medium mt-2"
      *ngIf="name.errors?.['minlength'] && name.touched"
    >Длина должна быть больше 4 символов</div>
  </div>
  <div class="flex justify-end items-center gap-2 actrive:outline-none">
    <button
      class="text-md rounded-md py-2 px-4 bg-gray-200 text-gray-600"
      (click)="modalService.close()"
    >
      Отмена
    </button>
    <button
      type="submit"
      class="text-md rounded-md py-2 px-4 bg-green-700 text-white"
    >
      Сохранить
    </button>
  </div>
</form>
