<div class="w-full px-8 py-5">
  <div class="text-xl">
    Вы уверены что хотите удалить папку?
  </div>
  <div
    class="flex flex-col justify-end items-center gap-2"
    *ngIf="isFolderEmpty === false"
  >
    <button mat-button mat-dialog-close>Отмена</button>
    <button
      type="submit"
      mat-button
      color="warn"
      (click)="removeFolderCascade()"
    >
      Удалить папку и вложенные элементы
    </button>
    <button type="submit" mat-button color="warn" (click)="removeFolder()">
      Удалить папку, вложенные элементы переместить на уровень выше
    </button>
  </div>
  <div
    class="flex justify-end items-center gap-2"
    *ngIf="isFolderEmpty === true"
  >
    <button mat-button mat-dialog-close>Отмена</button>
    <button type="submit" mat-button color="warn" (click)="removeFolder()">
      Удалить папку
    </button>
  </div>
</div>
