<div class="relative h-full box-border flex justify-center overflow-hidden">
  <app-leftsidebar
    class="bg-white border-r-[1px] border-gray-200 overflow-hidden"
  ></app-leftsidebar>
  <div class="flex-1">
    <div class="flex flex-col h-full">
      <div class="relative flex-1">
        <ng-content></ng-content>
      </div>
      <app-bottomsidebar></app-bottomsidebar>
    </div>
  </div>
  <app-rightsidebar
    class="bg-white border-l-[1px] border-gray-200 overflow-hidden"
  ></app-rightsidebar>
</div>
