<div
  *ngIf="toolbarService.toolbar$ | async as toolbar"
  class="relative border-t-[1px] bg-white border-gray-200 transition-transform overflow-hidden"
  [ngClass]="{
          'translate-y-full': toolbar.console === false,
          'translate-y-0': toolbar.console === true,
        }"
  draggable
  dragHandle="#dragConsoleHandle"
  (onDragMove)="onBottomSidebarDragMove($event)"
  (onDragEnd)="onBottomSidebarDragEnd()"
>
  <div
    [ngStyle]="{
      height: bottomSidebarHeight + bottomSidebarExtraHeight + 'px'
    }"
  >
    <div
      id="dragConsoleHandle"
      class="absolute top-0 left-0 w-full h-1.5 hover:bg-black/10 cursor-ns-resize"
    ></div>
    <div class="p-4">
      <div class="">Тут будет консоль</div>
    </div>
  </div>
</div>
