<div class="flex flex-col h-full bg-gray-100">
  <div class="relative z-10">
    <app-tabs></app-tabs>
  </div>
  <div
    *ngIf="tabService.activeTab?.scenarioId === undefined"
    class="absolute inset-0 flex justify-center items-center"
  >
    <app-filesystem-form
      class="bg-white shadow-sm w-full max-w-md rounded-md p-4"
    ></app-filesystem-form>
  </div>
  <ng-container
    *ngIf="
      tabService.hasAnyTabs === true &&
      tabService.activeTab?.scenarioId !== undefined
    "
  >
    <app-toolbar></app-toolbar>
    <app-sidebars class="flex-1">
      <div class="">TEST</div>
    </app-sidebars>
  </ng-container>
</div>
