<div
  class="flex items-end w-full bg-dark-primary h-10 pt-1 px-2 overflow-hidden"
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="tabService.rearrangeTabs($event)"
>
  <ng-container *ngFor="let tab of tabService.tabs$ | async; index as i">
    <div
      class="group w-full h-full flex items-center gap-2 max-w-[200px] pl-3 pr-2 cursor-pointer rounded-t-md text-white"
      [ngClass]="{
        'bg-primary ring-1 ring-primary': tab.isActive === true,
        'bg-dark-primary': tab.isActive === false,
      }"
      cdkDragLockAxis="x"
      (click)="tabService.selectTab(i)"
      cdkDrag
    >
      <div class="relative flex-1 w-full overflow-hidden">
        <div class="">&nbsp;</div>
        <div
          class="absolute inset-0 text-md font-medium whitespace-nowrap overflow-ellipsis"
        >
          {{ tab.title }}
        </div>
      </div>
      <button
        class="w-5 h-5 hover:bg-black/5 rounded-sm text-[20px]"
        [ngClass]="{
        'hidden group-hover:block' : tab.isActive === false,
        'block' : tab.isActive === false,
      }"
        (click)="tabService.removeTab(i)"
      >
        &times;
      </button>
    </div>
    <div class="h-5 my-auto border-r-[1px] border-primary"></div>
  </ng-container>
  <button
    mat-ripple
    class="h-full min-w-[40px] flex justify-center items-center px-2 mx-1 hover:bg-black/5 stroke-white rounded-sm"
    (click)="tabService.createTab()"
  >
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M12 6V12M12 12V18M12 12H18M12 12H6"
        stroke="inherit"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>
</div>
